/* google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');




body{
    font-family: 'Poppins', sans-serif;  
}
/* Header Banner  */
.hero-banner{
    background-color: #264653;
    color: #FFFFFF;
}

.btn-purchase{
   background-color: #E76F51;
   color: #FFFFFF;
}

.text-orange{
    color: #E76F51;
}

/* Bike Display  */

.bike-color{
    filter: grayscale(100%);
}




.fa-star{
    font-size: 12px;
   
}
.fa-star.filled{
    color: #E77C40;   
}
.fa-star.empty{
    color: #AEAEAE;
}




.bottom-img{
    width: 431.2px;
height: 423.5px;
}

.common-part-1{
    padding-top:50px;
    padding-left: 25%;
    
}
.common-part-2{
    /* padding-top: 120px; */

}

.question{
    border: none;
    position: absolute;
width: 1125px;
height: 495px;
}

.form-floating{
    position: relative;
}

.honda-background{
   
    background-color: #264653;
   

}

.location-btn{
    transition: none;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    
}

.icon{
   
}